body{
    background-color: rgb(255, 0, 72);
    color: #ff00b3;
}

h2{
    color: #fbff00 !important;
    text-align: center;
}

h3{
    color:aqua !important;
    text-align: middle;
}
 
#pagetitle{
    background-color: rgb(0, 0, 0);
    text-align: center;
    padding: 50px;
    border: 5px solid #22ff00;
    border-width: 5px;
    margin: 20px;
 }


